# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Logs
*.log

# OS (macOS / Windows)
.DS_Store
Thumbs.db

# Java
*.class

# Test reports
surefire-reports/
